
<div class="columns">
  <div class="column is-4 is-offset-4 box">
    <form id="register" method="POST" action="/register">

      <%# Username%>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" name="username" type="text" placeholder="Username" required>
        </div>
      </div>

      <%# Email%>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" name="email" type="text" placeholder="Email" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Image</label>
        <div class="control">
          <input class="input" name="image" type="text" placeholder="Image" required>
        </div>
      </div>

      <%# Password%>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password" placeholder="Password" required>
        </div>
      </div>

      <%# Confirm Password%>

      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
          <input class="input" name="passwordConfirmation" type="password" placeholder="Confirm Password" required>
        </div>
      </div>

      <%# Register button%>

      <div class="control">
        <button class="button is-info is-outlined">Register</button>
      </div>
    </form>
  </div>
</div>
