<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="logo" src="http://www.dhresource.com/200x200s/f2-albu-g4-M00-40-E9-rBVaEFflXuyABJKqAAHYUPZ_ydo421.jpg/brand-new-cocktails-martini-glass-neon-sign.jpg" alt="MixIT">
        &nbsp;
        MixIT
      </a>
      <div class="navbar-burger" data-target="#mobile-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="mobile-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/spirits">Spirits</a>
          <% if(!locals.isAuthenticated) { %>
          <a class="navbar-item" href="/register">Register</a>
          <a class="navbar-item" href="/login">Login</a>
          <% } else { %>
            <a class="navbar-item" href="/cocktails">Cocktails</a>
          <a class="navbar-item" href="/logout">Logout</a>
          <a class="navbar-item" href="/spirits/new">New Spirit</a>
          <a class="navbar-item" href="/cocktails/new">New Cocktail</a>
          <% } %>

      </div>
    </div>
  </nav>
