

<section class="container is-widescreen is-fullhd homepage">
<div class="hero-body">

  <div class="container has-text-right">
    <h1 class="title has-text-white">Welcome to Mix-IT.Com</h1>
  </div>

</div>
</section>
