

<section class="container is-widescreen is-fullhd homepage">
<div class="hero-body">

  <div class="container has-text-right">
    <h1 class="title has-text-white">Welcome to MixIt.Com</h1>
    <h2 class="subtitle has-text-white">Please <a id="homeform" href='/login'>Log</a> in or <a id="homeform" href='/register'>Register</a></h2>
  </div>

</div>
</section>
