
<div class="columns">
  <div class="column is-4 is-offset-4 box">

    <form method="POST" action="/login">

      <%# Email%>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" name="email" type="text" placeholder="Email">
        </div>
      </div>

      <%# Password%>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password" placeholder="Password">
        </div>
      </div>

      <%# Login button%>

      <div class="control">
        <button class="button is-primary">Login</button>
      </div>
    </form>
  </div>
</div>
